html, body {
    /* give this to all tags from html to .fullscreen */

	font-family:'Play', sans-serif!important;
	font-size:18px;
	line-height: 1.4;
}

.woocommerce-breadcrumb {display:none!important;}
.woocommerce-MyAccount-navigation li {list-style:none!important; padding:4px 4px 4px 9px; background:#e1e1e1; border-bottom:1px solid #ccc;}
.woocommerce-MyAccount-navigation li a {color:#333; font-size:15px;}
.woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads {display:none!important;}
img {max-width:100%; height:auto;}
.search {display:none!important;}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

/* ============================================================
  CUSTOM PAGINATION
============================================================ */
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

.widget-box {padding-bottom:8px; border-bottom:1px solid #ccc;}
.widget-box li  {list-style: none; font-size:15px; padding:4px 0;}
.widget-box li a {color:#666;}
.widget_recent_entries {padding-top:25px; }
.widget_recent_entries li a { list-style: none;}

 .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (min-width: 768px) {

	 .container-fluid {
    padding-right: 2%!important;
    padding-left: 2%!important;
    margin-right: auto;
    margin-left: auto;
}
	.header {background:#fff;  padding:0; width:100%; color:#373737;}
	.rim {padding:8px 0; font-size:12px; color:#fff; border-bottom:1px solid #aeabab; margin-bottom:5px; background-color:#373737;}
	.rim-cta {font-size:14px;}
	.phone {color:#fff;}
	.top {padding:5px 0; font-size:12px; color:#fff;margin-bottom:5px; background-color:#000; width:100%; }
	.navbar {border-radius:0!important;}
.nav-bridge {margin-top:130px;}
.logo {position:relative; z-index:550; padding-top:12px; margin-top:10px;  }
.navbar-inverse {background-color:#fff; border-color:#transparent!important;font-family: 'Play', sans-serif!important;}
.navbar-nav {position:relative; z-index:5;  padding-left: 20px!important; font-size:15px; }
.navbar-brand {margin-top:25px; position:relative; z-index:550;  font-size:30px!important; color:#333;font-family: 'Play', sans-serif!important;}
.navbar-brand:hover { color:#333;}

.int_hero {width:100%; height:40vh;  ckgr-webkit-baound-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 margin:0;
 }
.tour1 .filter { height:100%; width:100%; z-index:5; background:rgba(0,0,0,0.5); padding:20px 0;}
.tour1 h1 {font-size:50px; font-weight:400; color:#fff; margin-bottom:12px; text-align:center; text-shadow: 1px 1px 2px rgba(0,0,0,0.85); z-index:15;}
.tour1 .demo-copy {font-size:22px; font-weight:200; color:#fff; margin-bottom:12px; text-align:center; line-height:30px; margin:12px 0; padding:9px; z-index:15;}


 .weclean_bck {
	 width:100%;  height:305px; background:#f2f2f4 url(../images/weclean.jpg); background-repeat:no-repeat; background-position:center center; ckgr-webkit-baound-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table; margin:0;

 }

.subheader {width:100%; color:#fff; text-align:center; font-family: 'Titillium Web', sans-serif; font-weight:700; background-color:#1e6c9b; font-size:24px; padding:20px 0; letter-spacing:1.5; text-transform:uppercase; position:relative; z-index:50;}



.page-header {font-size:45px!important; font-weight:200!important; font-family: 'Titillium Web', sans-serif!important; text-align:center; line-height:1.8;}

.lead-in {font-size:70px!important; font-weight:600!important; font-family: 'Archivo Black', sans-serif!important; text-align:center; line-height:1.1; color:#000; }
.sub-in {font-size:21px!important; font-weight:400!important; font-family: 'Titillium Web', sans-serif!important; text-align:center; line-height:1.2;}

.home-copy {font-size:21px!important; font-weight:400!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.6;}

	.home-icon {text-align:center;font-size:70px; padding:20px;color:#8b8c8c;}
	.home-icon-title {font-size:21px!important; font-weight:600!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.5;text-align:center;}

	.home-icon-copy {font-size:15px!important; font-weight:400!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.1;text-align:center; margin-top:15px; padding:0 15px;}

.front-page-content h2{text-align:center;}
.front-page-content .aroundlink {padding:20px; text-align:center;}
.front-page-content a {color:#efd734; font-size:24px;font-weight:600!important;}

/* home page mods */
.pixtitle {padding:2px 0 2px 7px; border-left: 3px #1ba352 solid; margin:20px 0 15px 0; font-size:18px; line-height:18px;}

.box {

	text-align: center;

    margin: auto;



    overflow: hidden;

    position: relative;





}



.image img {

    display:block;

    width: 360px;

	height: 210px;



}

.image img {

    transform:scale(1);

    -ms-transform:scale(1);

    -moz-transform:scale(1);

    -webkit-transform:scale(1);

    -o-transform:scale(1);

	-webkit-transition: all 1.5s ease;

  	-moz-transition: all 1.5s ease;

  	-o-transition: all 1.5s ease;

  	transition: all 1.5s ease;



}



.box:hover .image img {

	cursor: pointer;

    transform:scale(1.5);

    -ms-transform:scale(1.5);

    -moz-transform:scale(1.5);

    -webkit-transform:scale(1.5);

    -o-transform:scale(1.5);



}



.text2{

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    -webkit-transition: all 1s ease;

  	-moz-transition: all 1s ease;

  	-o-transition: all 1s ease;

  	transition: all 1s ease;

	z-index:10;

}



.text2:hover{

    background: rgba(0, 0, 0, 0.5);

}



.text3 {

    position: absolute;

	top: -100%;

     -webkit-transition: all 1s ease;

  	-moz-transition: all 1s ease;

  	-o-transition: all 1s ease;

  	transition: all 1s ease;

}



.text3:hover {

    top: 50%;

}



.blink {

    position: relative;

    padding: 0;

    display:block;

}

.service-headline {width:100%; font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:40px; padding:20px 10px 0 0; letter-spacing:1.5; text-transform:uppercase; position:relative; z-index:50; color:#1ba352; text-align:center; }

.service-subheadline {font-size:32px!important; font-weight:700!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.6; color:#1ba352;}

.service-copy {width:100%;   font-family: 'Titillium Web', sans-serif; font-weight:400; font-size:18px; line-height:26px; padding:10px;}

.what-clean {width:100%; background:#f5f5f5; padding:25px 0; margin-top:15px;}
.what-service {background:#fff;}
.what-service .title {text-align:center; font-size:24px!important; font-weight:700!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.6; margin-top:5px;}


#demo, #quote{position:fixed;z-index:10;top:0;bottom:0;right:0;width:350px;height:100%;background:#e1e1e1;border-left:1px solid #ababab; color:#333;}
.form-header {padding:15px; background-color:#1e6c9b; color:#fff;}
.form-title { font-size:26px; font-weight:700; text-align:center; padding-top:20px;}
.btn-close {background-color:#1e6c9b;}
.btn-close:hover {background-color:#1e6c9b; color:#fff;}
.form-copy {margin-top:20px; padding:0 12px;}

.footer { background:#000; margin:40px 0 0 0; padding:20px 0 30px 0; color:#fff; }

	.footer h2 {font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:18px;}
	.footer ul{list-style:none;}
	.footer li a {font-size:14px; text-decoration:none; color:#fff; }
	.footer-content {margin:14px 40px 0 0; line-height:1.6;}

	.footer_contact { color:#fff;  padding-top:15px;}
	.footer_contact .name { font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:24px;}
	.footer_contact .details {font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:20px; line-height:26px;}
    .copyright {margin-top:45px; font-size:14px;}

	.services{padding:6px; }

.services:hover {background:#E8E8E8; padding:7px;}
.services h2{font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:18px; letter-spacing:1.5; text-transform:uppercase; text-align:left; line-height:22px;}

.crm{padding:6px; }

.crm h2{font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:18px; letter-spacing:1.5; text-transform:uppercase; text-align:left; line-height:22px;}

	.website-feature {margin:12px 0;}
	.website-feature .title {font-size:18px; font-weight: 600; margin-bottom:7px; line-height:1.1  }
	.website-feature .feature-copy {font-size:12px; line-height:1.3  }

	/*home styles */

	.home-title {text-transform:uppercase; margin-bottom:12px; padding-bottom:5px; border-bottom:#555555 2px solid; font-family: 'Oswald', sans-serif; font-weight:700; font-size:23px; color:#901b1e;}

.home-title:after{ border-bottom:#217598 2px solid; display:inline;}

.home-post-title{text-align:center;  margin-bottom:4px; margin-top:0;}

.home-post-title a{font-family: 'Oswald', sans-serif; color:#333; font-size:21px; }

.home-image{text-align:center; width:100%; max-height:215px; overflow:hidden; margin-bottom:4px;}

.home-post-meta{ text-align:center; color:#999; font-size:14px;}

.home-post-excerpt{padding:8px; }

	.home-post-title2{ margin-bottom:4px; margin-top:0; line-height:17px;}

.home-post-title2 a{font-family: 'Oswald', sans-serif; color:#333; font-size:18px; }

.home-post-meta2{ color:#999; font-size:14px;}

	.blog-post-title {font-size:24px; font-weight:700; font-family: 'Oswald', sans-serif; color:444!important; margin-bottom:8px; }

.blog-post-title  a {color:444!important;}

.post-roll-meta {padding:4px 8px 4px 8px; text-transform:uppercase; border-bottom:#ABABAB 1px solid; border-top:#ABABAB 1px solid; margin-top:5px; text-align:center;}
.the-title {font-size:36px; line-height:1.2; color:#000;}

}

@media (max-width: 767px) {

	.the-title {font-size:24px; line-height:1.3; color:#000;}

	.container-fluid {
    padding-right: 5%!important;
    padding-left: 5%!important;
    margin-right: auto;
    margin-left: auto;
}
	.header {background:#252931;  padding:8px 0 0 0; width:100%; color:#fff;}
	.rim {padding:8px 0; font-size:12px; color:#fff; border-bottom:1px solid #aeabab; margin-bottom:5px; background-color:#000; text-align:center;}
	.phone {color:#fff;}
	.phone a {color:#fff;}
	.navbar {border-radius:0!important;}
.nav-bridge {margin-top:130px;}
.logo {position:relative; z-index:550; padding-top:8px;}
.navbar-inverse {background-color:#252931; border-color:#transparent!important;}
.navbar-nav {position:relative; z-index:5;}
.home_hero { background-image: url(//www.eliio.com/inc/images/header-bck2.jpg) ;
background-repeat:no-repeat; background-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 padding:20px 0;
  margin:0;
}

.home_hero h1 {font-size:24px; font-weight:200; color:#fff; margin-bottom:12px; text-align:center; /*text-shadow: 1px 1px 2px rgba(0,0,0,0.85);*/ z-index:15; background:rgba(29,115,165,0.9); padding:20px; margin-top:2%; line-height:36px;}
.home_hero .copy {font-size:16px; font-weight:200; color:#fff; margin-bottom:12px; text-align:center; line-height:22px; margin:12px 0; padding:9px; z-index:15; background:rgba(29,115,165,0.9); padding:20px;}

.home_solutions {width:100%; padding:55px 0;  ckgr-webkit-baound-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 margin:0;
 }

	[data-crm]{background-image: url(//www.eliio.com/inc/images/home-crm2.jpg); background-repeat:no-repeat; background-position:center center;}
	[data-website]{background-image: url(//www.eliio.com/inc/images/home-web.jpg); background-repeat:no-repeat; background-position:center center;}
	[data-adserver] {background-image: url(//www.eliio.com/inc/images/take-tour-c3.jpg); background-repeat:no-repeat; background-position:center center;}

.int_hero {width:100%; height:40vh;  ckgr-webkit-baound-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 margin:0;
 }

.tour1 .filter { height:100%; width:100%; z-index:5; background:rgba(0,0,0,0.5); padding:20px 0;}
.tour1 h1 {font-size:30px; line-height:36px; font-weight:400; color:#fff; margin-bottom:12px; text-align:center; text-shadow: 1px 1px 2px rgba(0,0,0,0.85); z-index:15;}
.tour1 .demo-copy {font-size:16px; font-weight:200; color:#fff; margin-bottom:12px; text-align:center; line-height:20px; margin:12px 0; padding:9px; z-index:15;}


 .weclean_bck {
	 width:100%;  height:305px; background:#f2f2f4 url(../images/weclean.jpg); background-repeat:no-repeat; background-position:center center; ckgr-webkit-baound-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table; margin:0;

 }

.subheader {width:100%; color:#fff; text-align:center; font-family: 'Titillium Web', sans-serif; font-weight:700; background-color:#1e6c9b; font-size:24px; padding:20px 0; letter-spacing:1.5; text-transform:uppercase; position:relative; z-index:50;}



.page-header {font-size:28px!important; font-weight:200!important; font-family: 'Titillium Web', sans-serif!important; text-align:center; line-height:1.8;}

.lead-in {font-size:28px!important; font-weight:600!important; font-family: 'Archivo Black', sans-serif!important; text-align:center; line-height:1.1; color:#000; }
.sub-in {font-size:18px!important; font-weight:400!important; font-family: 'Titillium Web', sans-serif!important; text-align:center; line-height:1.2;}


.home-copy {font-size:16px!important; font-weight:400!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.4; margin-top:12px;}

.front-page-content h2{text-align:center; font-size:21px; margin-top:-20px;}
.front-page-content .aroundlink {padding:9px; text-align:center;}
.front-page-content a {color:#1e6c9b; font-size:16px;}

/* home page mods */
.pixtitle {padding:2px 0 2px 7px; border-left: 3px #1ba352 solid; margin:20px 0 15px 0; font-size:18px; line-height:18px;}

.box {

	text-align: center;

    margin: auto;



    overflow: hidden;

    position: relative;





}



.image img {

    display:block;

    width: 360px;

	height: 210px;



}

.image img {

    transform:scale(1);

    -ms-transform:scale(1);

    -moz-transform:scale(1);

    -webkit-transform:scale(1);

    -o-transform:scale(1);

	-webkit-transition: all 1.5s ease;

  	-moz-transition: all 1.5s ease;

  	-o-transition: all 1.5s ease;

  	transition: all 1.5s ease;



}



.box:hover .image img {

	cursor: pointer;

    transform:scale(1.5);

    -ms-transform:scale(1.5);

    -moz-transform:scale(1.5);

    -webkit-transform:scale(1.5);

    -o-transform:scale(1.5);



}



.text2{

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    -webkit-transition: all 1s ease;

  	-moz-transition: all 1s ease;

  	-o-transition: all 1s ease;

  	transition: all 1s ease;

	z-index:10;

}



.text2:hover{

    background: rgba(0, 0, 0, 0.5);

}



.text3 {

    position: absolute;

	top: -100%;

     -webkit-transition: all 1s ease;

  	-moz-transition: all 1s ease;

  	-o-transition: all 1s ease;

  	transition: all 1s ease;

}



.text3:hover {

    top: 50%;

}



.blink {

    position: relative;

    padding: 0;

    display:block;

}

.service-headline {width:100%; font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:40px; padding:20px 10px 0 0; letter-spacing:1.5; text-transform:uppercase; position:relative; z-index:50; color:#1ba352; text-align:center; }

.service-subheadline {font-size:32px!important; font-weight:700!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.6; color:#1ba352;}

.service-copy {width:100%;   font-family: 'Titillium Web', sans-serif; font-weight:400; font-size:18px; line-height:26px; padding:10px;}

.what-clean {width:100%; background:#f5f5f5; padding:25px 0; margin-top:15px;}
.what-service {background:#fff;}
.what-service .title {text-align:center; font-size:24px!important; font-weight:700!important; font-family: 'Titillium Web', sans-serif!important; line-height:1.6; margin-top:5px;}


#demo, #quote{position:fixed;z-index:10;top:0;bottom:0;right:0;padding:8px;height:100%;background:#e1e1e1;border-left:1px solid #ababab; color:#333;}
.form-header {padding:15px; background-color:#1e6c9b; color:#fff;}
.form-title { font-size:26px; font-weight:700; text-align:center; padding-top:20px;}
.btn-close {background-color:#1e6c9b;}
.btn-close:hover {background-color:#1e6c9b; color:#fff;}
.form-copy {margin-top:20px; padding:0 12px;}

.footer { background:#252931; margin:40px 0 0 0; padding:20px 0 30px 0; color:#fff; }

	.footer h2 {font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:18px;}
	.footer ul{list-style:none;}
	.footer li a {font-size:14px; text-decoration:none; color:#fff; }
	.footer-content {margin:14px 40px 0 0; line-height:1.6;}

	.footer_contact { color:#fff;  padding-top:15px;}
	.footer_contact .name { font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:24px;}
	.footer_contact .details {font-family: 'Titillium Web', sans-serif; font-weight:300; font-size:20px; line-height:26px;}
    .copyright {margin-top:45px; font-size:14px;}

	.services{padding:12px 6px 6px 6px; margin:8px 0; border-bottom:1px #ccc solid; }

.services:hover {background:#E8E8E8; padding:7px;}
.services h2{font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:18px; letter-spacing:1.5; text-transform:uppercase; text-align:left; line-height:22px;}

.crm{padding:12px 6px 6px 6px; margin:8px 0; border-bottom:1px #ccc solid; }

.crm h2{font-family: 'Titillium Web', sans-serif; font-weight:700; font-size:18px; letter-spacing:1.5; text-transform:uppercase; text-align:left; line-height:22px;}
.down {margin-top:15px!important; margin-bottom:12px;}

}

@media screen and (min-width:1500px) {
	 .container-fluid {
    padding-right: 15%!important;
    padding-left: 15%!important;
    margin-right: auto;
    margin-left: auto;
}

}
